.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  text-align: center;
}
.useRef2 {
  width: 300px;
  height: 200px;
  background-color:red;
  margin:auto;
}
.useRef2:hover {
  background-color: yellow;
}